.reviews {
  background-color: $grey;
  padding-top: 5em;
  padding-bottom: 3em;
}

.review {
  text-align: center;
  margin-bottom: 5em;
  &__username {
    color: $title-color;
    font-size: 1.15em;
    line-height: 1.2;
    margin: 1em 0;

    .time-ago {
      color: $text-color;
      font-weight: 300;
    }
  }
  &__description {
    color: $text-color;
    text-align: center;
    font-style: italic;
    font-size: 1.2em;

    p {
      margin: 0;
    }
  }
}
