@import "~normalize.css";
@import "./fonts";
html {
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  line-height: 1.65;
}
